{% extends 'PraiseItBundle:Paladin:base.html.twig' %}

{% block results -%}
    <h1>Prayer list</h1>

    <table class="col-md-8 records_list table-responsive table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sacrifice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prayer in prayers %}
            <tr>
                <td><a href="{{ path('pray_show', { 'id': prayer.id }) }}">{{ prayer.id }}</a></td>
                <td>{{ prayer.name }}</td>
                <td>{{ prayer.sacrifice }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pray_show', { 'id': prayer.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('pray_edit', { 'id': prayer.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
